@tailwind base;
@tailwind components;
@tailwind utilities;

nav,
footer {
  font-family: "Kode Mono", sans-serif;
}

.category {
  background-color: #ddd;
  padding: 4px 11px;
  font-size: 16px;
  cursor: pointer;
  width: 120px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="radio"]:checked + .category {
  border: 1px solid black;
  background-color: #bbb;
}

#task-input {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 4px;
  outline-offset: 4px;
}

.task-button {
  background-color: black;
  border-radius: 4px;
  color: white;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  outline-offset: 4px;
}

.task-button:hover {
  opacity: 0.8;
}

#task-list {
  padding: 0;
}

#task {
  background: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
